@font-face {
    font-family: "Young serif";
    src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

@font-face {
    font-family: "Outfit";
    src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #F3E5D7;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: white;
    width: 700px;
    margin: 128px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header {   
    padding: 40px 32px 0px 32px;
}

h1 {
    font-family: "Young serif";
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0px;;
    font-weight: 400;

}

p {
    color: #5f564d;
    font-family: "Outfit";
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 400;
}

h2 {
    color: #7A284E;
    font-family: "Outfit";
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0px;
    font-weight: 600;
}

h3 {
    color: #854632;
    font-family: "Young serif";
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0px;;
    font-weight: 400;
}

img {
	border-radius: 12px;
	height: 300px;
    width: 100%;
    object-fit: fill;
    align-self: center;
}

.prep-time{
    background-color: #fff7fb;
    margin: 24px;
    border-radius: 12px;
    padding: 32px 40px;
    align-self: stretch;
    
}

.ingredients{
    padding: 0px 40px;

}

ul li {
    color: #5f564d;
    font-family: "Outfit";
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 400;
}

ul li::marker {
    color: #854632;
}

.instructions{
    padding: 32px 40px;

}

ol li {
    color: #5f564d;
    font-family: "Outfit";
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 400;
}

ol li::marker {
    color: #854632;    
}

.nutrition{
    padding: 0px 40px 40px 40px;

}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    color: #5f564d;
    font-family: "Outfit";
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: left; 
}

tr:last-child td {
    border-bottom: none;
}

.nutrient-value {
    color: #854632;
}

.attribution {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    text-align: center;
}